@using Newtonsoft.Json;
@model wmcb.model.View.MatchScoreView
@{
    ViewBag.Title = "Match Score";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{bool isAdmin = ViewContext.HttpContext.User.IsInRole("Admin");}
<script src="~/Scripts/angular/controllers/MatchScoreController.js"></script>
<div ng-controller="MatchScoreCtrl" ng-init="init(@JsonConvert.SerializeObject(Model.hasPermission),@JsonConvert.SerializeObject(isAdmin),@Model.TeamID)">
    
    <div ng-show="done">
        <h3>  {{displaymessage}}</h3>
    </div>
    <div ng-show="!done">
        <h4>
            Enter Match Score @if (!isAdmin)
            {
                <label>for Model.TeamName</label>
            }
        </h4>
        <div>
            Select a Match :
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-warning">{{SelectedMatchText}}</button>
                <button type="button" class="btn btn-warning dropdown-toggle" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                @if (!isAdmin) { 
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="m in AgainstTeams"><a href="#" ng-click="SelectMatch(m)">{{m.HomeTeamName}} Vs {{m.AgainstTeamName}} - {{m.DateTime| date:'EEE , MM/dd'}}</a></li>
                </ul>
                }
                else
                {
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="m in Matches"><a href="#" ng-click="SelectMatchAsAdmin(m)">{{m.Home}} Vs {{m.Away}} - {{m.DateTime| date:'EEE , MM/dd'}}</a></li>
                    </ul>
                }
            </div>
        </div>
        <div ng-hide="SelectedMatch==''">
            <div class="row"> &nbsp;</div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div>Did <label>{{SelectedMatch.Home}}</label> win the toss?</div>

                    <label class="radio-inline">
                        <input type="radio" name="toss" value="1" ng-model="TossWon">
                        Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="toss" value="0" ng-model="TossWon">
                        No
                    </label>
                </div>
                <div>
                    <div>Did <label>{{SelectedMatch.Home}}</label> bat first?</div>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="batfirst" value="1" ng-model="Battedfirst">
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="batfirst" value="0" ng-model="Battedfirst">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row"> &nbsp;</div>
            <h5>Enter Batting Scores for <label>{{SelectedMatch.Home}}</label></h5>
            <table class="table table-hover data-table col-lg-10 col-md-8">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-lg-2 col-md-2">Batsman</th>
                        <th style="width:10px;">How Out</th>
                        <th class="col-lg-2 col-md-2">Bowler</th>
                        <th>Runs</th>
                        <th>Balls</th>
                        <th>4s</th>
                        <th>6s</th>
                        <th>Wicket#</th>
                        <th>FOW Runs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in [] | range:11">
                        <td>{{i+1}}</td>
                        <td>
                            <div class='container-fluid has-error'>
                                <input class="has-error" type="text" ng-model="BattingScore[i].Batsman" empty-typeahead typeahead-editable="false" ng-blur="clearUnselected(i)" typeahead="player as player.FullName for player in HomePlayers  | filter:$viewValue:PlayerComparer">
                            </div>
                        </td>
                        <td><input type="text" ng-model="BattingScore[i].HowOut" ng-blur="clearUnselected(i)" typeahead-editable="false" typeahead="out as out.Type for out in OutList  | filter:$viewValue" style="width:120px;" /></td>
                        <td><input type="text" ng-model="BattingScore[i].Bowler" ng-blur="clearUnselected(i)" empty-typeahead typeahead-editable="false" typeahead="player as player.FullName for player in AwayPlayers  | filter:$viewValue:PlayerComparer" /></td>
                        <td><input type="text" ng-model="BattingScore[i].Runs" numbers-only="numbers-only" class="number-box" /></td>
                        <td><input type="text" ng-model="BattingScore[i].Balls" class="number-box" /></td>
                        <td><input type="number" ng-model="" class="number-box" /></td>
                        <td><input type="number" ng-model="" class="number-box" /></td>
                        <td><input type="number" ng-model="BattingScore[i].WicketNumber" class="number-box" /></td>
                        <td><input type="number" ng-model="BattingScore[i].FOWRuns" class="number-box" /></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h5>Enter Extras Received by <label>{{SelectedMatch.Home}}</label></h5>

                <table class="table table-hover data-table col-lg-5 col-md-8">
                    <thead>
                        <tr>
                            <th>Wides</th>
                            <th>No Balls</th>
                            <th>Byes</th>
                            <th>Leg Byes</th>
                            <th>Penalty</th>
                            <th>Total Extras</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" ng-model="HTWides" class="number-box"></td>
                            <td><input type="number" ng-model="HTNoBalls" class="number-box"></td>
                            <td><input type="number" ng-model="HTByes" class="number-box"></td>
                            <td><input type="number" ng-model="HTLegByes" class="number-box"></td>
                            <td><input type="number" ng-model="HTPenaltyRuns" class="number-box"></td>
                            <td class="text-left">{{HTWides + HTNoBalls + HTByes + HTLegByes + HTPenaltyRuns}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h5>Enter Bowling Scores for <label>{{SelectedMatch.Home}}</label></h5>
            </div>
            <table class="table table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Bowler</th>
                        <th>Over</th>
                        <th>Maiden</th>
                        <th>Runs</th>
                        <th>Wickets</th>
                        <th>WD</th>
                        <th>NB</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in [] | range:10">
                        <td>{{i+1}}</td>
                        <td>
                            <div class='container-fluid'>
                                <input type="text" ng-model="BowlingScore[i].Bowler" typeahead="player as player.FullName for player in HomePlayers  | filter:$viewValue|limitTo:10">
                            </div>
                        </td>
                        <td><input type="number" ng-model="BowlingScore[i].Overs" class="number-box" /></td>
                        <td><input type="number" ng-model="BowlingScore[i].Maiden" class="number-box" /></td>
                        <td><input type="number" ng-model="BowlingScore[i].RunsGiven" class="number-box" /></td>
                        <td><input type="number" ng-model="BowlingScore[i].Wickets" class="number-box" /></td>
                        <td><input type="number" ng-model="BowlingScore[i].Wide" class="number-box" /></td>
                        <td><input type="number" ng-model="BowlingScore[i].NoBalls" class="number-box" /></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            @if (isAdmin) { 
            <div>
                <h5>Enter Batting Scores for <label>{{SelectedMatch.Away}}</label></h5>
                <table class="table table-hover data-table col-lg-10 col-md-8">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="col-lg-2 col-md-2">Batsman</th>
                            <th style="width:10px;">How Out</th>
                            <th class="col-lg-2 col-md-2">Bowler</th>
                            <th>Runs</th>
                            <th>Balls</th>
                            <th>4s</th>
                            <th>6s</th>
                            <th>Wicket#</th>
                            <th>FOW Runs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in [] | range:11">
                            <td>{{i+1}}</td>
                            <td>
                                <div class='container-fluid has-error'>
                                    <input class="has-error" type="text" ng-model="AwayBattingScore[i].Batsman" empty-typeahead typeahead-editable="false" ng-blur="clearUnselected(i)" typeahead="player as player.FullName for player in AwayPlayers   | filter:$viewValue:PlayerComparer">
                                </div>
                            </td>
                            <td><input type="text" ng-model="AwayBattingScore[i].HowOut" ng-blur="clearUnselected(i)" typeahead-editable="false" typeahead="out as out.Type for out in OutList  | filter:$viewValue" style="width:120px;" /></td>
                            <td><input type="text" ng-model="AwayBattingScore[i].Bowler" ng-blur="clearUnselected(i)" empty-typeahead typeahead-editable="false" typeahead="player as player.FullName for player in HomePlayers  | filter:$viewValue:PlayerComparer" /></td>
                            <td><input type="text" ng-model="AwayBattingScore[i].Runs" numbers-only="numbers-only" class="number-box" /></td>
                            <td><input type="text" ng-model="AwayBattingScore[i].Balls" class="number-box" /></td>
                            <td><input type="number" ng-model="" class="number-box" /></td>
                            <td><input type="number" ng-model="" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBattingScore[i].WicketNumber" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBattingScore[i].FOWRuns" class="number-box" /></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h5>Enter Extras Received by <label>{{SelectedMatch.Away}}</label></h5>

                    <table class="table table-hover data-table col-lg-5 col-md-8">
                        <thead>
                            <tr>
                                <th>Wides</th>
                                <th>No Balls</th>
                                <th>Byes</th>
                                <th>Leg Byes</th>
                                <th>Penalty</th>
                                <th>Total Extras</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" ng-model="ATWides" class="number-box"></td>
                                <td><input type="number" ng-model="ATNoBalls" class="number-box"></td>
                                <td><input type="number" ng-model="ATByes" class="number-box"></td>
                                <td><input type="number" ng-model="ATLegByes" class="number-box"></td>
                                <td><input type="number" ng-model="ATPenaltyRuns" class="number-box"></td>
                                <td class="text-left">{{ATWides + ATNoBalls + ATByes + ATLegByes + ATPenaltyRuns}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h5>Enter Bowling Scores for <label>{{SelectedMatch.Away}}</label></h5>
                </div>
                <table class="table table-hover data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bowler</th>
                            <th>Over</th>
                            <th>Maiden</th>
                            <th>Runs</th>
                            <th>Wickets</th>
                            <th>WD</th>
                            <th>NB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in [] | range:10">
                            <td>{{i+1}}</td>
                            <td>
                                <div class='container-fluid'>
                                    <input type="text" ng-model="AwayBowlingScore[i].Bowler" typeahead="player as player.FullName for player in AwayPlayers  | filter:$viewValue|limitTo:10">
                                </div>
                            </td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].Overs" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].Maiden" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].RunsGiven" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].Wickets" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].Wide" class="number-box" /></td>
                            <td><input type="number" ng-model="AwayBowlingScore[i].NoBalls" class="number-box" /></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div>
                    <button type="button" class="btn btn-primary" ng-click="SubmitMatchScore(@JsonConvert.SerializeObject(isAdmin))">Submit Match Score</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>



