@{
    ViewBag.Title = "ReviewScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".sidebar-nav li").removeClass("active");//this will remove the active class from
        $('#reviewscore').addClass('active');
        $("#DivInning1").show();
        $("#DivInning2").hide();

        // Initialize tooltip
        $('[data-toggle="tooltip"]').tooltip({
            placement: 'top'
        });
        $("#btnInning1").click(function () {
            $("#DivInning1").show();
            $("#DivInning2").hide();
        });
        $("#btnInning2").click(function () {
            $("#DivInning1").hide();
            $("#DivInning2").show();
            $('#btnInning1').removeClass('active');
        });
    });
</script>
<style>
    .nav-tabs > li > a {
        background-color: #6AA3D5;
        border-color: #357ebd;
        color: #fff;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: #428BCA;
        border: 1px solid #357ebd;
    }

    .nav-tabs > li > a:hover {
        border-color: #357ebd;
        background-color: #5697D0;
    }


    .nav-tabs {
        margin-bottom: 0;
    }

    .tab-content {
        background-color: #fff;
        border: 1px solid #5697D0;
        border-width: 0 1px 1px;
        padding: 20px;
    }

    .nav-tabs > li {
        float: right;
    }

        .nav-tabs > li > a {
            margin-right: 0;
            margin-left: 0;
        }
</style>
<script src="~/Scripts/angular/controllers/ReviewScoreController.js"></script>


<h2>Review Score</h2>
<div ng-controller="ReviewCtrl">
    <table class="table table-hover data-table">
        <tr>
            <th>Match</th>
            <th>Home Team(Runs)</th>
            <th>Away Team(Runs)</th>
            <th>Status</th>
            <th>Actions
            <th>
        </tr>
        <tr ng-repeat-start="m in Matches">
            <td>{{m.Schedule.Week}}, {{m.Schedule.DateTime| date:'EEE, M/dd'}}</td>
            <td>{{m.Schedule.Home}} ({{m.Match.HomeTeamScore}})</td>
            <td>{{m.Schedule.Away}} ({{m.Match.AwayTeamScore}})</td>
            <td><span ng-show="m.Match.IsReviewed==1">Approved</span><span ng-show="m.Match.IsReviewed==0">Rejected</span><span ng-show="m.Match.IsReviewed==null">Pending</span></td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="ViewScore(m,$index)">View</button> &nbsp;
                <button ng-click="Approve(m)" class="btn btn-sm btn-default" ng-disabled="HomeScores.length<=0 || AwayScores.length<=0">Approve</button>
                <button ng-click="Reject(m)" class="btn btn-sm btn-default">Reject</button>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="selectedRow == $index">
            <td colspan="6">
                <div class="row">
                    <div class="text-center">
                        <div ng-show="BattingInn1.length<=0 && BattingInn2.length<=0">
                            <br /><br /><br />
                            <span>The score for this match has not been entered yet.</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="BattingInn1.length<=0 && BattingInn2.length<=0">
                    <div class="col-lg-10">
                        <label ng-show="m.Match.TeamWonToss == m.Schedule.HomeId">{{m.Schedule.Home}}</label>
                        <label ng-show="m.Match.TeamWonToss == m.Schedule.AwayId">{{m.Schedule.Away}}</label> won the toss.<br />
                        <label ng-show="m.Match.TeamBattedFirst == m.Schedule.HomeId">{{m.Schedule.Home}}</label>
                        <label ng-show="m.Match.TeamBattedFirst == m.Schedule.AwayId">{{m.Schedule.Away}}</label> batted first.<br />
                    </div>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="width:100%;" role="tablist">                    
                    <li style="width:50%;"><a href="#inn2" role="tab" data-toggle="tab">{{Inn2BattingTeam}}</a></li>
                    <li class="active" style="width:50%"><a href="#inn1" role="tab" data-toggle="tab">{{Inn1BattingTeam}}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="inn1">
                        <div ng-hide="BattingInn1.length<=0 && BattingInn2.length<=0">
                            <div>
                                <div class="col-lg-12">
                                    <div class="text-center" ng-show="BattingInn1.length<=0">
                                        <br /><br /><br />
                                        <span>The batting score for '{{Inn1BattingTeam}}' have not been entered yet.</span>
                                    </div>
                                    <div ng-hide="BattingInn1.length<=0">
                                        <h3>{{Inn1BattingTeam}}'s Batting</h3>
                                        <table class="table table-hover data-table">
                                            <thead>
                                                <tr class="grid-header">
                                                    <th>Batsman</th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>R</th>
                                                    <th>B</th>
                                                    <th>4s</th>
                                                    <th>6s</th>
                                                    <th>FOW</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in BattingInn1">
                                                    <td>
                                                        <span>{{item.PlayerName}}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{item.HowOutDesc}} {{item.FielderName}} &nbsp;&nbsp;</span>
                                                    </td>
                                                    <td><span ng-show="{{item.BowlerName}}">b</span> {{item.BowlerName}}</td>
                                                    <td><span><strong>{{item.BattingRuns}}</strong> </span></td>
                                                    <td><span>{{item.BallsFaced}} </span></td>
                                                    <td><span>{{item.Fours}} </span></td>
                                                    <td><span>{{item.Sixes}} </span></td>
                                                    <td><span>{{item.WicketNumber}} ({{item.FOWRuns}}) </span></td>
                                                </tr>
                                                <tr>
                                                    <td>Extras</td>
                                                    <td colspan="2">
                                                        {{ExtraInn1.Wides}}w {{ExtraInn1.NoBalls}}nb {{ExtraInn1.Byes}}b {{ExtraInn1.LegByes}}lb {{ExtraInn1.PenaltyRuns}}pr
                                                    </td>
                                                    <td colspan="5"><strong>{{ExtraInn1.Wides + ExtraInn1.NoBalls + ExtraInn1.Byes + ExtraInn1.LegByes + ExtraInn1.PenaltyRuns}}</strong></td>
                                                </tr>
                                                <tr style="background-color:#f5f5f5;">
                                                    <td><strong>Total</strong></td>
                                                    <td colspan="2"></td>
                                                    <td colspan="5"><strong>{{Inn1TotalScore}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center" ng-show="BowlingInn1.length<=0">
                                        <br /><br /><br />
                                        <span>The bowling scores for '{{Inn1BowlingTeam}}' have not been entered yet.</span>
                                    </div>
                                    <div ng-hide="BowlingInn1.length<=0">
                                        <h5>{{Inn1BowlingTeam}}'s Bowling Score</h5>
                                        <table class="table table-hover data-table">
                                            <thead>
                                                <tr class="grid-header">
                                                    <th>Bowler</th>
                                                    <th>O</th>
                                                    <th>M</th>
                                                    <th>R</th>
                                                    <th>W</th>
                                                    <th>WD</th>
                                                    <th>NB</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in BowlingInn1">
                                                    <td>
                                                        <span>{{item.PlayerName}}</span>
                                                    </td>
                                                    <td><span>{{item.OversBowled}} </span></td>
                                                    <td><span>{{item.MaidenOvers}} </span></td>
                                                    <td><span>{{item.BowlingRuns}} </span></td>
                                                    <td><span>{{item.Wickets}} </span></td>
                                                    <td><span>{{item.Wide}} </span></td>
                                                    <td><span>{{item.NoBalls}} </span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="inn2">
                        <div ng-hide="BattingInn1.length<=0 && BattingInn2.length<=0">
                            <div>
                                <div class="col-lg-12">
                                    <div class="text-center" ng-show="BattingInn2.length<=0">
                                        <br /><br /><br />
                                        <span>The batting score for '{{Inn2BattingTeam}}' have not been entered yet.</span>
                                    </div>
                                    <div ng-hide="BattingInn1.length<=0">
                                        <h3>{{Inn2BattingTeam}}'s Batting</h3>
                                        <table class="table table-hover data-table">
                                            <thead>
                                                <tr class="grid-header">
                                                    <th>Batsman</th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>R</th>
                                                    <th>B</th>
                                                    <th>4s</th>
                                                    <th>6s</th>
                                                    <th>FOW</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in BattingInn2">
                                                    <td>
                                                        <span>{{item.PlayerName}}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{item.HowOutDesc}} {{item.FielderName}} &nbsp;&nbsp;</span>
                                                    </td>
                                                    <td><span ng-show="{{item.BowlerName}}">b</span> {{item.BowlerName}}</td>
                                                    <td><span><strong>{{item.BattingRuns}}</strong> </span></td>
                                                    <td><span>{{item.BallsFaced}} </span></td>
                                                    <td><span>{{item.Fours}} </span></td>
                                                    <td><span>{{item.Sixes}} </span></td>
                                                    <td><span>{{item.WicketNumber}} ({{item.FOWRuns}}) </span></td>
                                                </tr>
                                                <tr>
                                                    <td>Extras</td>
                                                    <td colspan="2">
                                                        {{ExtraInn2.Wides}}w {{ExtraInn2.NoBalls}}nb {{ExtraInn2.Byes}}b {{ExtraInn2.LegByes}}lb {{ExtraInn2.PenaltyRuns}}pr
                                                    </td>
                                                    <td colspan="5"><strong>{{ExtraInn2.Wides + ExtraInn2.NoBalls + ExtraInn2.Byes + ExtraInn2.LegByes + ExtraInn2.PenaltyRuns}}</strong></td>
                                                </tr>
                                                <tr style="background-color:#f5f5f5;">
                                                    <td><strong>Total</strong></td>
                                                    <td colspan="2"></td>
                                                    <td colspan="5"><strong>{{Inn2TotalScore}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center" ng-show="BowlingInn2.length<=0">
                                        <br /><br /><br />
                                        <span>The bowling scores for '{{Inn2BowlingTeam}}' have not been entered yet.</span>
                                    </div>
                                    <div ng-hide="BowlingInn1.length<=0">
                                        <h5>{{Inn2BowlingTeam}}'s Bowling Score</h5>
                                        <table class="table table-hover data-table">
                                            <thead>
                                                <tr class="grid-header">
                                                    <th>Bowler</th>
                                                    <th>O</th>
                                                    <th>M</th>
                                                    <th>R</th>
                                                    <th>W</th>
                                                    <th>WD</th>
                                                    <th>NB</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in BowlingInn2">
                                                    <td>
                                                        <span>{{item.PlayerName}}</span>
                                                    </td>
                                                    <td><span>{{item.OversBowled}} </span></td>
                                                    <td><span>{{item.MaidenOvers}} </span></td>
                                                    <td><span>{{item.BowlingRuns}} </span></td>
                                                    <td><span>{{item.Wickets}} </span></td>
                                                    <td><span>{{item.Wide}} </span></td>
                                                    <td><span>{{item.NoBalls}} </span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
        </tr>
    </table>
</div>