
@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Downloads</h2>
<br/>
<ul><li><a href="~/Documents/WMCB_StandardPlayingConditions_40Overs_Rev2015.pdf" target="_blank">Standard Playing Conditions - 40 Overs Competition</a></li>
    <li><a href="~/Documents/Downloads/WMCB_StandardPlayingConditions_Twenty20_Rev2015.pdf" target="_blank">Standard Playing Conditions - T20 Competition</a></li>    
    <li>Blank Umpire's Report (<a href="~/Documents/Downloads/Blank Umpire's Report.pdf" target="_blank">PDF</a>,  <a href="~/Documents/Downloads/Blank Umpire's Report.docx" target="_blank">DOCX</a>)</li>
    <li>WMCB 2015 Transfer Form (<a href="~/Documents/Downloads/WMCB 2015 Transfer Form.pdf" target="_blank">PDF</a>,  <a href="~/Documents/Downloads/WMCB 2015 Transfer Form.docx" target="_blank">DOCX</a>)</li>
    </ul>
<br/><br/>
