
@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Newsletter</h2>


<br />
<ul><li>
        <a href="~/Documents/Newsletter/WMCB_Newsletter_April_2015.pdf" target="_blank">WMCB Newsletter April-2015</a></li></ul>
<br /><br />
