@{
    ViewBag.Title = "Players&amp;Officials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Players and Officials</h2>


<div id="divPlayers">
    <iframe width="600" style="border:none;" height="800" src="http://www.sportstatz.com/ss/runreport2.aspx?club=1005&mode=20&grade=0&pool=&season=2015"></iframe>
</div>

