@{
    ViewBag.Title = "Playoff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Playoffs Picture <small> as of August 24, 2015</small></h2><br/>

@{Html.RenderPartial("Partial/Playoffs");}