@{
    ViewBag.Title = "Playoff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Playoffs Picture <small> as of October 17, 2015</small></h2><br />

@{Html.RenderPartial("Partial/Playoffs");}
<br />