
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#divPlayers").show();
        $("#divResults").hide();
        $("#divStats").hide();
        $("#divStatsT20").hide();
        // Initialize tooltip
        $('[data-toggle="tooltip"]').tooltip({
            placement: 'top'
        });
        $("#btnPlayers").click(function () {
            $("#divPlayers").show();
            $("#divResults").hide();
            $("#divStats").hide();
            $("#divStatsT20").hide();
        });
        $("#btnResults").click(function () {
            $("#divPlayers").hide();
            $("#divResults").show();
            $("#divStats").hide();
            $("#divStatsT20").show();
        });
        $("#btnStats").click(function () {
            $("#divPlayers").hide();
            $("#divResults").hide();
            $("#divStats").show();
            $("#divStatsT20").hide();
        });
        $("#btnStatsT20").click(function () {
            $("#divPlayers").hide();
            $("#divResults").hide();
            $("#divStats").hide();
            $("#divStatsT20").show();
        });
    });
</script>

<h2>Statistics</h2>

<div id="divbtns">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" id="btnPlayers">Players and Officials</button>
        <button type="button" class="btn btn-warning" id="btnResults">Match Results</button>
        <button type="button" class="btn btn-warning" id="btnStats">Statistics</button>
        <button type="button" class="btn btn-warning" id="btnStatsT20">T-20</button>
    </div>
</div>
<div id="divPlayers">
    <iframe width="600" style="border:none;" height="800" src="http://www.sportstatz.com/ss/runreport2.aspx?club=1005&mode=20&grade=0&pool=&season=2015"></iframe>
</div>
<div id="divResults">
    <iframe width="700" style="border:none;" height="800" src="http://www.sportstatz.com/ss/runreport2.aspx?club=1005&mode=12&grade=0&pool=&season=2015"></iframe>
</div>
<div id="divStats">
    <iframe width="900" style="border:none;" height="600" src="http://www.sportstatz.com/ss/runreport2.aspx?club=1005&mode=104&grade=0&pool=&season=2015"></iframe>
</div>
<div id="divStatsT20">
    <div>
        <object type="text/html" data="http://www.sportstatz.com/ss/runreport2.aspx?mode=12&club=1005&playerid=&grade=347&pool=&season=2015" width="800" height="600" ></object>
    </div>
    @*<iframe width="900" style="border:none;" height="600" src="http://www.sportstatz.com/ss/runreport2.aspx?mode=12&club=1005&playerid=&grade=347&pool=&season=2015"></iframe>*@
</div>


