################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wmcb.web/obj
/wmcb.repo/obj
