@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular/controllers/ForgotPasswordController.js"></script>
<h2>Forgot Password</h2>
<div ng-controller="PasswordCtrl">
    <form name="myForm" class="form-horizontal" role="form" ng-show="Result.Code==''">
        <div class="form-group" ng-class="{'has-error': myForm.Email.$invalid && myForm.Email.$dirty}">
            <label class="control-label col-sm-3 text-right " for="email">Enter your email address:</label>
            <div class="col-sm-7">
                <input name="Email" type="email" class="form-control" id="email" placeholder="Email Address" ng-model="Email" required>
                <span ng-show=" myForm.Email.$invalid && myForm.Email.$dirty">Required</span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button type="submit" class="btn btn-default" ng-click="ResetPassword(Email)">Reset Password</button>
            </div>
        </div>
    </form>
    <div ng-show="Result.Code!=''">
        {{Result.Message}}
    </div>
</div>