<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table-condensed" style="width:100%">
                <tr>
                    <td class="col-md-3">
                        <div class="input-group"><span class="input-group-addon"><span class="badge pull-right">1</span></span><div class="form-control">Damascus CC</div></div>
                    </td>
                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:25%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>

                    <td></td>
                </tr>
                <tr>

                    <td><div class="input-group"><span class="input-group-addon"><span class="badge pull-right">8</span></span><div class="form-control">Punjab Lions CC</div></div></td>
                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:0%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>
                    <td class="col-md-1" rowspan="4" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:25%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:75%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;top:75%;"></div>
                    </td>

                    <td class="col-md-2" rowspan="6">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">
                        <div class="input-group"><span class="input-group-addon"><span class="badge pull-right">2</span></span><div class="form-control">Southern Cavaliers</div></div>
                    </td>

                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:25%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>

                </tr>
                <tr>
                    <td><div class="input-group"><span class="input-group-addon"><span class="badge pull-right">7</span></span><div class="form-control">Columbia CC</div></div></td>
                </tr>
                <tr>
                    <td class="col-md-2">
                        <div class="input-group"><span class="input-group-addon"><span class="badge pull-right">3</span></span><div class="form-control">United CC</div></div>

                    </td>
                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:25%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>

                    </td>

                </tr>
                <tr>

                    <td><div class="input-group"><span class="input-group-addon"><span class="badge pull-right">6</span></span><div class="form-control">Gladiators CC</div></div></td>
                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:0%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:50%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>

                </tr>
                <tr>
                    <td class="col-md-2">
                        <div class="input-group"><span class="input-group-addon"><span class="badge pull-right">4</span></span><div class="form-control">Mavericks CC</div></div>
                    </td>

                    <td class="col-md-1" rowspan="2" style="padding:0px;">
                        <div style="border-top: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:25%;"></div>
                        <div style="border-bottom: 2px solid #090; border-right: 2px solid #090; width:80%; height:25%; float: left; position:absolute; top:50%;"></div>
                        <div style="border-top: 2px solid #090; width: 20%; margin-left: 80%; float: right; position:absolute;"></div>
                    </td>
                    <td class="col-md-2" rowspan="2">
                        <div class="input-group"><div class="form-control"></div><span class="input-group-addon"><span class="badge pull-right"></span></span></div>
                    </td>


                </tr>
                <tr>
                    <td><div class="input-group"><span class="input-group-addon"><span class="badge pull-right">5</span></span><div class="form-control">Virginia Lions CC</div></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>